:root {
  --background: #ffffff;
  --foreground: #171717;
  --base-font-size: 18px; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: var(--base-font-size);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif!important;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: normal;
}
h1, h2, h3 {
  padding: 50px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  background-color: black;
}

input {
  padding: 10px;
  min-width: 250px;
}

hr {
  width: 30%;
}

p {
  margin: 10px 0;
}

blockquote {
  margin: 0 0 20px 0;
  padding: 0 0 0 50px;
  font-size: 0.8em;
  text-align: right;
}