:root {
  --background: #ffffff;
  --foreground: #171717;
  --base-font-size: 18px; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: var(--base-font-size);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif!important;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: normal;
}
h1, h2, h3 {
  padding: 20px 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  background-color: black;
}

input, textarea {
  padding: 10px;
  min-width: 400px;
}

hr {
  width: 30%;
}


blockquote {
  margin: 0 0 20px 0;
  padding: 0 0 0 50px;
  font-size: 0.8em;
  text-align: right;
}

/* Wrapper for Left and Right Columns */
.chapterWrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-width: 100%;
  margin: 30px 0;
}

.hamburgerButton {
  display: none;
}

/* Left Column: List of Chapters */
.leftColumn {
  flex: 1;
  border-right: 1px solid #313131;
  padding: 1rem;
  overflow-y: auto;
  text-align: right;
}

/* Right Column: Selected Chapter Content */
.rightColumn {
  flex: 2;
  padding: 1rem;
  overflow-y: auto;
}

.rightColumn p {
  padding-bottom: 1rem;
}

/* Highlight selected chapter */
.chapterItem {
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.chapterItem.selected {
  background-color: #f0f0f0;
  color: black;
}

.gameCard {
  width: 100%; 
  max-width: 500px;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  aspect-ratio: 9 / 16; /* Maintain a 16:9 aspect ratio */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .gameCard {
    width: 100%; /* Full width on mobile */
  }
  .hamburgerButton {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
  }
  .leftColumn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 70%; /* Adjust width for mobile */
    background-color: var(--background);
    z-index: 5;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  }

  /* Left Column: Collapsed State */
  .leftColumn.collapsed {
    transform: translateX(-100%); /* Move off-screen to the left */
  }

  /* Left Column: Open State */
  .leftColumn.open {
    transform: translateX(0); /* Fully visible */
  }
}

.gameCard h2 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.gameCard p {
  font-size: 0.8rem;
  padding: 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.8) 100%);
}

/* Highlight effect for text */
.highlightedText {
  display: inline; /* Ensures the background only wraps around the text */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 2px 4px; /* Adds some spacing around the text */
  border-radius: 3px; /* Optional: Rounded corners for the highlight */
  color: white; /* Ensures the text is readable */
}