.main {
  display: flex;
  min-height: 420px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;}

.code {
  font-weight: 700;
  font-family: var(--font-mono);}

.logo {
  position: relative;
}

.authButton, 
.unauthButton {
  padding: 5px;
  color: grey;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 50px 0 0 0;
  background-color: black;
  font-size: 14px;
  letter-spacing: 0.2px;
  cursor: pointer; 
}

.authIcon {
  width: 128px;
  height: 128px;
}