.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .main {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.logo {
  position: relative;
}

.authButton, 
.unauthButton {
  padding: 5px;
  color: grey;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 50px 0 0 0;
  background-color: black;
  font-size: 14px;
  letter-spacing: 0.2px;
  cursor: pointer; 
}

.authIcon {
  width: 128px;
  height: 128px;
}

.header {
  font-size: 2em;
  position: absolute;
  top: 35px;
  right: 0px;
  transform: translate(-50%, -50%);
}
.header a { 
  cursor: pointer;
  display: inline-block;
}
.header a:hover {
  text-decoration: none;
  transform: translateX(10px);
}
.footer {
  text-align: center;
  margin: 15px 0 30px 0;
}